/* Container for centering the form on the page */
.password-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the reset form */
.reset {
    width: 50%;
    max-width: 600px; /* Optional: maximum width to prevent it from being too large */
    border: 1px solid rgb(179, 177, 177);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

/* Form labels */
.reset form label {
    display: block;
    padding: 5px 0;
}

/* Form input fields */
.reset form input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(179, 177, 177);
}

/* Form input fields focus state */
.reset form input:focus {
    outline: none;
}

/* Container for the links with space between them */
.reset form div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* Styling for the links */
.reset form div a {
    text-decoration: none;
    font-size: 0.875rem;
}

/* Styling for the second link */
.reset form div a:last-child {
    color: red;
}

/* Submit button styling */
.reset form button {
    width: 100%;
    padding: 8px;
    background: teal;
    color: white;
    border: none;
    border-bottom: 3px solid tomato;
    border-radius: 5px;
    cursor: pointer;
}

/* Error message styling */
.reset form p {
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

/* Form heading styling */
.reset form h1 {
    margin: 0 0 20px 0; /* Add bottom margin for spacing */
    font-size: 1.5rem; /* Slightly larger font size */
    text-align: center;
    text-transform: uppercase;
}
